<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Contact Us | Team Xtacy</title>

<div style="box-sizing: border-box; 
font-family:Tahoma; font-size:14px; line-height:28px; margin-bottom:8px;
background-color: #fff;
display: block;
height: fit-content; 
padding: 1em;">
    <div style="margin-left: auto;
         margin-right: auto;
         border-radius: 0.5em;
         border: 1px solid #ccc;
         background-color: #fff;
         color:#1a1a1a;
         padding: 0.5em 1em;
         max-width: 600px;">

        <p style="color: #ffbb00;
        font-size: 2em;
        font-weight: 800;
        margin: 1em 0 0 0;
        text-align: center;">Welcome to Xtacy</p><br>

        <p style="display: inline-block">
            Hi!<br>
            We recieved your message from our website. Our representatives will soon be in touch!<br>
            Thanks for connecting with us.
            <br>
        </p>

        <p style="display: inline-block">
            Best Regards<br> 
            Team Xtacy<br>
        </p>

        <p style="color:#999; font-size: 12px; line-height: 1.125em; text-align: center; 
        max-width: 75%; margin: 2em auto;">
            Right of admission reserved. 
            No arms, sharp objects or incendiaries are allowed inside the festival venue. Please read the 
            <a href="https://xtacy.org/terms" style="font-weight: 600; color: #999; text-decoration: none;">
                <u>terms and conditions</u></a> carefully.
        </p>
    </div>
</div>