<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registration Confirmation | Team Xtacy</title>

  <div style="box-sizing: border-box; 
  font-family:Tahoma; font-size:14px; line-height:28px; margin-bottom:8px;
  background: linear-gradient(#fff, #9ababc);
  display: block;
  height: fit-content; 
  padding: 2em;">
      <div style="margin-left: auto;
          margin-right: auto;
          border: 1px solid #ccc;
          box-shadow: 0 5px 5px #aaa;
          background-color: #fff;
          color:#1a1a1a;
          padding: 0.5em 1em;
          max-width: 600px;">
          
          <img src="https://raw.githubusercontent.com/ieeejmi/mlproject/master/resources/Poster%20ML.png" width="100%">

          <p style="color: #960e62;
          font-size: 2em;
          font-weight: 800;
          margin: 1em 0 0 0;
          text-align: center;">Machine Learning Project Series</p><br>

          <p style="display: inline-block">      
            <b>The Machine Learning Project Series organized by IEEE JMI</b> for the students of 
            Faculty of Engineering and Technology, Jamia Millia Islamia, is a 2-month long series of projects 
            which will take you through practical machine learning faster and easier than any online tutorial.
            If you attended IEEE Code workshops in 2018, this will be partially familiar.
            <br><br>

            We want to make this a <b>tightly knit group of students</b> working together with guidance from their seniors. 
            You will work on <b>at least 10 different non-trivial projects</b> through the course of this series and all 
            these will lead to one real-world research based project at the end.
            <br><br>

            <div style="line-height: 1.125em; text-align: center; margin: 1em;">
                Apply Here
                
                <img src="$url$" alt="barcode" width="250px">
                <p style="color:#999; font-size: 12px; font-weight: 600;">
                    Please show this code at the festival entrance <br> 
                    to receive your entry card and event passes.
                </p>
            </div>
          </p>

          <p>        
              <b>Entry is free upon registration at 
              <a href="https://xtacy.org" style="font-weight: 600; color: #ff9e00; text-decoration: none;">
                <u>xtacy.org</u></a></b><br>
              You can show the confirmation email sent to you at the entrance and avail your 
              visitor pass valid throughout the festival.<br>
          </p>
      </div>
  </div>
</body>
</html>