<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registration Confirmation | Team Xtacy</title>

<div style="box-sizing: border-box; 
font-family:Tahoma; font-size:14px; line-height:28px; margin-bottom:8px;
background-color: #fff;
display: block;
height: fit-content; 
padding: 1em;">
    <div style="margin-left: auto;
         margin-right: auto;
         border-radius: 0.5em;
         border: 1px solid #ccc;
         background-color: #fff;
         color:#1a1a1a;
         padding: 0.5em 1em;
         max-width: 600px;">

        <p style="color: #ffbb00;
        font-size: 2em;
        font-weight: 800;
        margin: 1em 0 0 0;
        text-align: center;">Welcome to Xtacy</p><br>

        <p style="display: inline-block">
            Hi $regName$<br><br>
    
            <b>Your booking was received successfully!</b> We take great pleasure in 
            welcoming you to this year's edition of Xtacy, the annual techno-cultural festival of Jamia Millia Islamia. 
            To make this a memorable experience for you, here are some important details that will make your visit pleasant and comfortable.
            <br>

            <div style="line-height: 1.125em; text-align: center; margin: 1em;">
                Your registration number is
                <p style="font-size: 1.125em; margin-block-end: 0.5em"><b>$rgn$</b></p>
                <img src="$url$" alt="barcode" width="250px">
                <p style="font-weight: 600;">ADMIT $number$ | $tier$</p>
                <p style="color:#999; font-size: 12px; font-weight: 600;">
                    Please show this code at the festival entrance <br> 
                    to receive your visitor card and event passes.
                </p>
            </div>
        </p>

        <p>
            You can show the confirmation email sent to you at the entrance and avail your 
            visitor pass valid throughout the festival.<br>
        </p>

        <p>
            <p style="color: #ff9e00;
            font-size: 1.5em;
            font-weight: 800;
            margin: 1em 0 0.5em 0;
            text-align: center;">How to Reach</p>
            Reaching Jamia Millia Islamia is very simple.
            Entry to the festival venue is from <b>Gate 13 (Ansari Auditorium).</b>
            Our event staff will be present at the venue to guide you. More information 
            is available on our 
            <a href="https://xtacy.org/reach" style="font-weight: 600; text-decoration: none; color: #000;">
                <u>How to Reach</u></a> page.
            <br>

            <p>
                <p style="font-size: 1.25em;
                font-weight: 800;
                margin: 1em 0 0.25em 0;
                text-align: center;">Nearby Metro Stations</p>
                <p style="text-align: center; margin: 0;"><b>Jamia Millia Islamia</b> and <b>Sukhdev Vihar</b></p>
            </p>
            
        </p>

        <p style="display: inline-block">
            Don't forget to collect your free copy of the festival souvenir, 
            'Encore Magazine', from the main pavillion. Also look out for special Xtacy 
            Merchandise in the Bazaar section.
            <br><br>
            Hope to see you there!<br> 
            Team Xtacy<br>
        </p>

        <p style="color:#999; font-size: 12px; line-height: 1.125em; text-align: center; 
        max-width: 75%; margin: 2em auto;">
            Right of admission reserved. 
            No arms, sharp objects or incendiaries are allowed inside the festival venue. Please read the 
            <a href="https://xtacy.org/terms" style="font-weight: 600; color: #999; text-decoration: none;">
                <u>terms and conditions</u></a> carefully.
        </p>
    </div>
</div>